In [1]:
from time import sleep, perf_counter
import pandas as pd

In [7]:
gdp_df = pd.read_csv("data/gdp.csv")
gdp_df = gdp_df[:266]
gdp_df.drop(columns=['Series Name', 'Series Code'], inplace=True)
gdp_df

,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,62.3693745050559,62.4437034626929,60.9503638210144,82.0217375781519,85.5110734102311,105.243195716467,143.103233209791,167.165674606148,...,626.512930450573,566.881132665072,523.053012101752,526.140801271383,492.090632280226,497.741429257502,512.055098228687,355.777826392648,..,..
1,Albania,ALB,..,..,..,..,..,..,..,..,...,4578.63320812155,3952.80357364813,4124.05538986272,4531.03220675893,5287.66080067575,5396.2142432843,5343.0377039956,6377.20309553753,6810.11404104233,..
2,Algeria,DZA,239.033005807284,209.917177642367,169.927013321055,225.823391368412,238.877804941679,253.309059020723,241.002571747501,261.366233944322,...,5516.22944039649,4197.41998491398,3967.20064743809,4134.93608656171,4171.79038755546,4021.9832660524,3354.15316371593,3700.31469728198,4342.63796796522,..
3,American Samoa,ASM,..,..,..,..,..,..,..,..,...,12313.9973571825,13101.5418159165,13300.8246114811,12372.8847825647,13195.9358995539,13672.576657298,15609.7772196843,16653.7137781725,19673.3901023197,..
4,Andorra,AND,..,..,..,..,..,..,..,..,...,45680.5469412164,38885.5485894753,39931.2362644858,40632.2089824607,42904.8115883352,41328.6123929102,37207.2388711909,42072.3194231234,41992.7727779758,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Sub-Saharan Africa,SSF,124.366932197459,128.31965688503,133.332085527768,139.804106912626,148.863828218089,157.694017869896,165.032026897521,164.488921152277,...,1937.32519909579,1687.10091516037,1526.95769331624,1611.0990750748,1630.05597191173,1631.31214101577,1490.34966585367,1635.21734094322,1701.24538173745,..
262,Sub-Saharan Africa (excluding high income),SSA,124.342334113495,128.299984981987,133.310223343652,139.779591620867,148.836832964629,157.670554025939,165.008827617932,164.466558883344,...,1936.09169028439,1685.87762138125,1525.6890557515,1609.80618677888,1628.7465208518,1629.98722074952,1489.4490671341,1634.26533568468,1700.1021810069,..
263,Sub-Saharan Africa (IDA & IBRD countries),TSS,124.366932197459,128.319656885031,133.332085527768,139.804106912626,148.863828218089,157.694017869896,165.032026897521,164.488921152277,...,1937.32519909579,1687.10091516038,1526.95769331624,1611.0990750748,1630.05597191173,1631.31214101577,1490.34966585367,1635.21734094322,1701.24538173745,..
264,Upper middle income,UMC,196.521005341671,182.601951010103,181.093898135676,192.888034223573,217.825050139448,239.324076952451,255.86279415297,254.542565877039,...,8239.68433528291,7683.61110791406,7607.59673123082,8352.32602595892,8912.56758144997,9023.20299187992,8663.00209318727,10271.8014880384,10814.277575258,..
265,World,WLD,455.598620757168,470.754357809983,494.545424363957,523.157421178679,562.075805220192,599.277025673111,636.062227862898,665.614296982815,...,10911.1271233098,10168.1245411934,10215.5854364363,10754.9297534287,11297.4524007076,11338.1503188025,10904.1476135166,12316.1024614581,12687.7418941733,..

In [8]:
countries_noc_df = pd.read_csv("data/countries_noc.csv")
countries_noc_df

     noc                 country
0    AFG             Afghanistan
1    ALB                 Albania
2    ALG                 Algeria
3    ASA          American Samoa
4    AND                 Andorra
..   ...                     ...
229  WIF  West Indies Federation
230  YEM                   Yemen
231  YUG              Yugoslavia
232  ZAM                  Zambia
233  ZIM                Zimbabwe

[234 rows x 2 columns]

In [9]:
gdp_df = gdp_df[gdp_df['Country Name'].isin(countries_noc_df['country'])]
gdp_df

,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,62.3693745050559,62.4437034626929,60.9503638210144,82.0217375781519,85.5110734102311,105.243195716467,143.103233209791,167.165674606148,...,626.512930450573,566.881132665072,523.053012101752,526.140801271383,492.090632280226,497.741429257502,512.055098228687,355.777826392648,..,..
1,Albania,ALB,..,..,..,..,..,..,..,..,...,4578.63320812155,3952.80357364813,4124.05538986272,4531.03220675893,5287.66080067575,5396.2142432843,5343.0377039956,6377.20309553753,6810.11404104233,..
2,Algeria,DZA,239.033005807284,209.917177642367,169.927013321055,225.823391368412,238.877804941679,253.309059020723,241.002571747501,261.366233944322,...,5516.22944039649,4197.41998491398,3967.20064743809,4134.93608656171,4171.79038755546,4021.9832660524,3354.15316371593,3700.31469728198,4342.63796796522,..
3,American Samoa,ASM,..,..,..,..,..,..,..,..,...,12313.9973571825,13101.5418159165,13300.8246114811,12372.8847825647,13195.9358995539,13672.576657298,15609.7772196843,16653.7137781725,19673.3901023197,..
4,Andorra,AND,..,..,..,..,..,..,..,..,...,45680.5469412164,38885.5485894753,39931.2362644858,40632.2089824607,42904.8115883352,41328.6123929102,37207.2388711909,42072.3194231234,41992.7727779758,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,Uruguay,URY,477.786990828994,624.718632584621,680.299518344434,592.211679329322,742.952068369687,706.269354948246,666.987641642522,584.638472485047,...,18131.5788465661,16950.7531694816,16837.9403803049,18995.3970195554,19026.0498173005,18098.361548609,15650.4993032445,17923.9953327961,20795.0423535553,..
208,Uzbekistan,UZB,..,..,..,..,..,..,..,..,...,2628.46005444002,2753.97105782901,2704.67718852896,1916.76462520814,1604.25864156544,1795.20176845657,1759.30747053678,1993.42447787206,2255.15115496772,..
209,Vanuatu,VUT,..,..,..,..,..,..,..,..,...,2861.20315425441,2643.8868859095,2757.20330593386,3032.19702965604,3076.8353148388,3076.58988588361,2917.75684908933,3044.57364031957,3231.35129995571,..
215,Zambia,ZMB,228.567398531142,216.274673627806,208.562684585176,209.453361697312,236.941713145039,296.022427096471,334.672527658699,350.653425227771,...,1724.57621968232,1307.90964916032,1249.92314348406,1495.75213841021,1475.19988338535,1268.12094056241,956.831728987032,1134.71345424991,1456.90157015445,..
216,Zimbabwe,ZWE,276.643363257328,279.332656130284,275.966139378504,277.532515496307,282.376856353524,294.893604869097,279.337779057297,295.056449265782,...,1407.03429109916,1410.32917348908,1421.78779140568,1192.10701198862,2269.17701232332,1421.86859613585,1372.69667436829,1773.92041090285,1676.82148896726,..

In [12]:
x = countries_noc_df[~countries_noc_df['country'].isin(gdp_df['Country Name'])]
x

     noc                                country
10   ANZ                            Australasia
23   BOH                                Bohemia
41   TPE                         Chinese Taipei
44   CGO                                  Congo
45   COK                           Cook Islands
47   CIV                          Côte d'Ivoire
48   CRT                                  Crete
53   TCH                         Czechoslovakia
54   PRK  Democratic People's Republic of Korea
55   COD       Democratic Republic of the Congo
60   GDR                           East Germany
62   EGY                                  Egypt
69   FSM         Federated States of Micronesia
77   GBR                          Great Britain
83   GBS                          Guinea Bissau
87   HKG                       Hong Kong, China
90   IOA           Independent Olympic Athletes
92   AIN            Individual Neutral Athletes
96   IRI               Islamic Republic of Iran
104  KSA                Kingdom of Saudi Arabia
106  COR                             Korea Team
109  KGZ                             Kyrgyzstan
110  LAO       Lao People's Democratic Republic
121  MAL                                 Malaya
130  MIX                             Mixed team
141  AHO                   Netherlands Antilles
143  NFL                           Newfoundland
147  NBO                           North Borneo
149  YAR                            North Yemen
154  PLE                              Palestine
158  CHN             People's Republic of China
165  EOR                   Refugee Olympic Team
166  KOR                      Republic of Korea
167  MDA                    Republic of Moldova
168  RHO                               Rhodesia
169  ROC                                    ROC
173  SAA                                   Saar
174  SKN                  Saint Kitts and Nevis
175  LCA                            Saint Lucia
176  VIN       Saint Vincent and the Grenadines
179  STP                  São Tomé and Príncipe
182  SCG                  Serbia and Montenegro
186  SVK                               Slovakia
192  VNM                          South Vietnam
193  YMD                            South Yemen
194  URS                           Soviet Union
204  BAH                            The Bahamas
205  GAM                             The Gambia
211  TUR                                Türkiye
216  EUN                           Unified Team
218  UAR                   United Arab Republic
219  TAN            United Republic of Tanzania
221  ISV           United States Virgin Islands
222  UNK                                Unknown
226  VEN                              Venezuela
227  VIE                                Vietnam
228  FRG                           West Germany
229  WIF                 West Indies Federation
230  YEM                                  Yemen
231  YUG                             Yugoslavia